<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/page/head.ejs %>
	<meta charset="utf-8">
	<title>Melvin Wilson</title>
</head>
<body>
	<% include partials/page/header.ejs %>

	<div class="container main">
	<h1>Thank You <%= name%></h1>
	</div>


	<% include partials/page/footer.ejs%>
	<% include partials/page/jsScripts.ejs%>
</body>
</html>