<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/page/head.ejs %>
  </head>
  <body>

    <% include partials/page/header.ejs %>

    <div class="container text-center pfBtnCntnr main">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8"> 
          <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
          <p> Repellendus, repellat, sequi, provident, numquam eum ipsam tempora nesciunt laborum suscipit ab quod iure asperiores ipsum excepturi blanditiis quibusdam corrupti aut fugiat!</p>
        </div>
        <div class="col-lg-2"></div>
      </div><!-- primary -->
      <a href="" class="btn btn-info btn-lg portfolio">Portfolio</a>
    </div

  <section class="layout"></section>
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsScripts.ejs %>
  </body>
</html>