body {
  padding: 50px;
  background: #F1F0EF;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header ul {
	list-style: none;
}
header ul li {
	display: inline-block;
	float: left;
}

.pfBtnCntnr {
	padding: 10px 0 50px;
}
a.portfolio.btn-info {
	background: #d52e46;
	border: none; 
	padding-left: 50px;
	padding-right: 50px;

}
a.portfolio:hover {
	background: #e63f57; 
}
.pfBtnCntnr p {
	padding-bottom: 50px;
}
footer {
	padding-top: 30px;
}
footer p {
	text-align: center;
}

.container.main {
	min-height: 380px;
}
